@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  @apply text-black bg-accent-100;
  animation: fadeBackground 3s;
  animation-fill-mode: forwards;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

@layer base {
  @font-face {
    font-family: "Comico";
    src: url("/fonts/Comico-Regular.otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Recia";
    src: url("/fonts/Recia-Light.otf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Recia";
    src: url("/fonts/Recia-Medium.otf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Recia";
    src: url("/fonts/Recia-Regular.otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Recia";
    src: url("/fonts/Recia-Semibold.otf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Recia";
    src: url("/fonts/Recia-Bold.otf");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans";
    src: url("/fonts/GeneralSans-Light.otf");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans";
    src: url("/fonts/GeneralSans-Medium.otf");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans";
    src: url("/fonts/GeneralSans-Regular.otf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans";
    src: url("/fonts/GeneralSans-Semibold.otf");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans";
    src: url("/fonts/GeneralSans-Bold.otf");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .section {
    @apply min-h-screen;
    @apply flex flex-col justify-center items-center;
  }

  .header-title {
    @apply font-comico text-5xl hover:text-accent-200/80 text-accent-200 cursor-pointer;
  }

  .header-menu {
    @apply font-general hover:text-accent-200/80 text-accent-200;
    @apply lg:px-10 cursor-pointer;
    @apply font-extralight text-base px-2;
    @apply lg:text-2xl xl:text-2xl xl:px-10
  }

  .typing-title {
    @apply font-general  text-black;
    @apply font-extralight hover:text-black/80;
    @apply cursor-pointer;
    @apply lg:text-5xl text-xl
  }

  .typing-sub {
    @apply font-general md:text-xl hover:text-black;
    @apply font-light text-right text-primary text-base
  }

  .about {
    @apply absolute bottom-10 text-center;
    @apply font-general text-xl text-black;
    @apply font-extralight text-right hover:text-black/80;
  }

  .exp {
    @apply font-general text-xl text-black;
    @apply font-extralight text-right;
    @apply group-hover:text-black/80 tracking-widest;
  }

  .related {
    @apply font-extralight;
    @apply font-recia text-sm text-black/60;
    @apply group-hover:text-black;
    @apply leading-6 tracking-wide;
  }

  .description {
    @apply text-center font-extralight;
    @apply font-recia text-base text-black/60;
    @apply group-hover:text-black;
  }

  .link {
    @apply text-center font-extralight;
    @apply font-general text-base hover:text-accent-100 underline;
    @apply text-white;
  }

  .card {
    @apply cursor-pointer max-w-[350px] min-h-[400px];
    @apply flex flex-col items-center justify-normal;
    @apply bg-gradient-to-b pb-2 rounded from-white to-accent-200;
    @apply rounded-lg;
    @apply hover:bg-white
  }
}

.typewriter h1 {
  @apply xl:h-14 h-8;
  overflow: hidden;
  border-right: 0.2rem solid #9e2a2b;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.25rem;
  animation: typing 2.5s steps(40, end), blink-caret 0.8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #9e2a2b;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadows {
  @apply font-general font-extralight text-accent-200/70;
  @apply hover:text-accent-200 cursor-pointer;
  @apply relative uppercase;
  text-shadow: -1px 1px 1px #8d99ae;
  font-size: 40px;
}

.shadows-black {
  @apply font-general font-extralight text-accent-100/70;
  @apply hover:text-accent-100 cursor-pointer;
  @apply relative uppercase;
  text-shadow: -1px 1px 1px #8d99ae;
  font-size: 40px;
}

.shadows:hover, .shadows-black:hover  {
  text-shadow: -1px 1px 1px rgb(43 45 66 1);
}

.section-header {
  animation: left-to-center 1.5s ease-out forwards;
}

@keyframes left-to-center {
  0% {
    width: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeBackground {
  from {
    background-color: #fcfcfc;
  }
  to {
    background-color: #ffffff;
  }
}
